{$DOMAIN_WEB} {
	reverse_proxy /graphql* api:8080
	reverse_proxy /hubs* api:8080
	reverse_proxy /hangfire* api:8080
	reverse_proxy /swagger* api:8080
	reverse_proxy /api* api:8080
	reverse_proxy /pdfs* api:8080
	reverse_proxy /images* api:8080
	reverse_proxy /signin-google* api:8080

	reverse_proxy * web:8080
}